services:
  traefik:
    container_name: traefik
    image: traefik:v3.1
    env_file:
      - .env
    networks:
      - global
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${TRAEFIK_FILES}/traefik.toml:/etc/traefik/traefik.toml
      - ${TRAEFIK_FILES}/acme.json:/acme.json
      - ${TRAEFIK_FILES}/.htpasswd:/.htpasswd
    labels:
      - "traefik.http.middlewares.dmc-auth.basicauth.usersfile=/.htpasswd"

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
      - 8000:8000  # Remove if you do not intend to use Edge Agents


networks:
  global:
    external: true
  default:
    name: portainer_network

volumes:
  portainer_data:
    name: portainer_data
